<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Stopalavras</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="configuracoes.component.css">
  <!-- Fonte Caviar Dreams do Google Fonts alternativa similar -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="top-content">
      <img routerLink="/home" src="assets/images/stop_sign.png" alt="Placa de Stop" class="stop-sign">
      <h1 class="title">Stopalavras</h1>
    </div>
    <div class="buttons-container">
      <div>
        <button (click)="onClickCronometro()" class="botao-cronometro">Cronômetro</button>
      </div>
      <div>
        <button (click)="onClickTemas()" class="botao-temas">Temas</button>
      </div>
    </div>
    <div *ngIf="tempo !== null" class="exibicao-cronometro">
      Tempo do cronômetro: <strong>{{ tempo }} segundos</strong>
    </div>
    <div *ngIf="temas.length > 0" class="exibicao-tema">
      Temas cadastrados:
        <ol>
          <li *ngFor="let tema of temas">
            <strong>{{ tema }}</strong>
          </li>
        </ol>
    </div>
  </div>
</body>
</html>
